.footer {
  min-height: 293px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 25px;
  margin-top: 180px;
  padding: 0 50px;
  position: relative;
}

.contacts {
  max-width: 240px;
}

.contacts__link {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer__link-list {
  color: #000;
  align-items: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.no-bullit {
  list-style-type: none;
}

.footer__link {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 47px;
  list-style-type: none;
}

.youtube {
  height: 48px;
  width: 100%;
}

.vk {
  height: 48px;
  width: 100%;
}

.pinterest {
  height: 48px;
  width: 100%;
}
