.header {
    min-height: 293px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    align-items: center;
    padding: 0 50px 0px 50px;
}

.menu {
    
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.item {
    
}

.no-bullit {
    list-style-type: none;
}

.header__link {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.active {
    text-decoration: none;
}

.header__logo-link {

}

.header__logo {
    height: 109px;  
    width: 100%;
    display: block;
    justify-self: center;
    padding-bottom: 3px;
}

.contacts {
    max-width: 240px;
}

.header__contacts {
    justify-self: right;
    padding-bottom: 1px;
}

.contacts__link {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

